//custom variables
$primary: #297373;
$warning: #FFB133;
$light: #FEF9EF;

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
